.home {
    margin-top: 20%;
    margin-left: 6%;
    transition: .3s;

    h1 {
        font-size: 5rem;
        margin-bottom: 16px;
    }
    p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .home {
        margin-top: 100%;
        margin-bottom: 3rem;
        h1 {
            font-size: 3rem;
        }
        p {
            max-width: 90%;
            font-size: 1.2rem;
        }
    }
}